* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;;
}

a {
  text-decoration: none;
  color: inherit;
}

.app{
  min-height: 100vh;
  color: black;
  background: linear-gradient(#E6FAFF, #F2EEFF, #FFF0F6);
}